* {
  margin: 0; 
  padding: 0; 
}
 .maceta{
    margin: 50px;
    text-align: center;
 }
header { 
    padding-top: 20px;
    background-color: rgb(234, 64, 64);
}
nav {
    margin-top: 10px;
    background-color: aqua;
}
section {
    margin: 10px 40px 0 40px;
    padding-top: 20px;
    background-color: yellow;
}
h2{
    margin: 10px;
    background-color:rgb(75, 29, 29);  
}
article {
    padding-bottom: 30px;
    margin: 0 10px 20px 10px;
    background-color: purple;
}
aside {
    display: block;
    padding: 20px;
    margin: 10px 20px 0 20px;
    background-color:rgb(233, 145, 233) ;
}
footer {
    margin-top: 10px;
    padding-top: 20px;
    background-color: rgb(223, 182, 107);
}